.intro {
   width: 62%;
   margin: 92px 0 0;
}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {
   .intro {
      margin: 88px auto 0;
      width: 94%;
   }
}

@media screen and (max-width: 320px) {
   .intro {
      width: 78%;
      margin: 40px auto 0;
   }
}
