.place__link {
   font-weight: normal;
   font-size: 18px;
   line-height: 122%;
   color: #fff;
   transition: 0.3s;
   text-decoration-line: underline;
}

.place__link:hover {
   text-decoration: none;
   opacity: 0.8;
}
