.place {
   width: 984px;
   height: 660px;
   display: grid;
   grid-template-columns: 460px 1fr;
   grid-template-areas:
      "title  website"
      "image paragraph";
   gap: 48px 40px;
}

@media screen and (max-width: 1024px) {
   .place {
      width: 928px;
      height: 640px;
      gap: 48px 32px;
   }
}

@media screen and (max-width: 768px) {
   .place {
      width: 720px;
      grid-template-columns: 340px 1fr;
      gap: 48px 28px;
      height: 100%;
   }
}

@media screen and (max-width: 320px) {
   .place {
      grid-template-rows: auto 1fr;
      grid-template-columns: none;
      grid-template-areas:
         "title"
         "website"
         "image"
         "paragraph";
      width: 288px;
      height: 100%;
      gap: 32px;
   }
}
